<!DOCTYPE html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    {{$context := .context}}
</head>

<body>
    <form id="context" hx-patch="/form1/{{.formid}}/context" hx-swap="outerHTML" hx-trigger="change delay:1s">
        <h1>Context</h1>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" value="{{$context.Title.Value}}">

        <label for="title_english">Title in English</label>
        <input type="text" id="title_english" name="title_english" value="{{$context.TitleEnglish.Value}}">

        <label for="start_date">Start Date</label>
        <input type="date" id="start_date" name="start_date" min="2023-01-01"
            value="{{$context.StartDate.Value.Format "2006-01-02"}}">

        <label for="duration">Project Duration</label>
        <select id="duration" name="duration">
            {{range .durations}}
            {{if eq $context.Duration.Value .Value}}
            <option value="{{.Value}}" selected>{{.Value}} months</option>
            {{else}}
            <option value="{{.Value}}">{{.Value}} months</option>
            {{end}}
            {{end}}
        </select>

        <label for="end_date">End Date</label>
        <input type="date" id="end_date" name="end_date" value="{{$context.EndDate.Value.Format "2006-01-02"}}"
            disabled>

        <label for="national_agency">National Agency</label>
        <select id="national_agency" name="national_agency">
            {{range .nationalAgencies}}
            {{if eq $context.NationalAgency.Value .Ccm2}}
            <option value="{{.Ccm2}}" selected>{{.DisplayValue}}</option>
            {{ else }}
            <option value="{{.Ccm2}}">{{.DisplayValue}}</option>
            {{end}}
            {{end}}
        </select>

        <label for="language">Language used to fill the form</label>
        <select id="language" name="language">
            {{range .languages}}
            {{if eq $context.Language.Value .Ccm2}}
            <option value="{{.Ccm2}}" selected>{{.DisplayValue}}</option>
            {{else}}
            <option value="{{.Ccm2}}">{{.DisplayValue}}</option>
            {{end}}
            {{end}}
        </select>
    </form>
</body>