<!DOCTYPE html>

<head>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    {{$context := .context}}
</head>

<body>
    <form id="context" hx-patch="/form1/{{.formid}}/context" hx-swap="outerHTML" hx-trigger="change delay:1s">
        {{template "navmenu" .menuItems}}

        <h1>Context</h1>
        <div>
            <div><label for="title">Title</label></div>
            <input type="text" id="title" name="title" value="{{$context.Title.Value}}">
        </div>

        <div>
            <div> <label for="title_english">Title in English</label></div>
            <input type="text" id="title_english" name="title_english" value="{{$context.TitleEnglish.Value}}">
        </div>

        <div>
            <div><label for="start_date">Start Date</label></div>
            <input type="date" id="start_date" name="start_date" min="2023-01-01"
                value="{{$context.StartDate.Value.Format "2006-01-02"}}">
        </div>

        <div>
            <div><label for="duration">Project Duration</label></div>
            <select id="duration" name="duration">
                <option value="" disabled selected>Select your option</option>
                {{range .durations}}
                {{if eq $context.Duration.Value .Value}}
                <option value="{{.Value}}" selected>{{.Value}} months</option>
                {{else}}
                <option value="{{.Value}}">{{.Value}} months</option>
                {{end}}
                {{end}}
            </select>
        </div>


        <div>
            <div><label for="end_date">End Date</label></div>
            <input type="date" id="end_date" name="end_date" value="{{$context.EndDate.Value.Format "2006-01-02"}}"
                disabled>
        </div>

        <div>
            <div><label for="national_agency">National Agency</label></div>
            <select id="national_agency" name="national_agency">
                <option value="" disabled selected>Select your option</option>
                {{range .nationalAgencies}}
                {{if eq $context.NationalAgency.Value .Ccm2}}
                <option value="{{.Ccm2}}" selected>{{.DisplayValue}}</option>
                {{ else }}
                <option value="{{.Ccm2}}">{{.DisplayValue}}</option>
                {{end}}
                {{end}}
            </select>
        </div>

        <div>
            <div> <label for="language">Language used to fill the form</label>
            </div>
            <select id="language" name="language">
                <option value="" disabled selected>Select your option</option>
                {{range .languages}}
                {{if eq $context.Language.Value .Ccm2}}
                <option value="{{.Ccm2}}" selected>{{.DisplayValue}}</option>
                {{else}}
                <option value="{{.Ccm2}}">{{.DisplayValue}}</option>
                {{end}}
                {{end}}
            </select>
        </div>
    </form>
</body>